<form method="POST" action="/new">
    <label for="author_name">Author's Name</label>
    <input type="text" name='author_name'>
    <label for="message_text">Message Text</label>
    <input type="text" name='message_text'>
    <button type='submit'>Submit</button>
</form>